/*数字统一字体*/
@font-face {
    font-family: "JetBrainsBold";
    src: url("https://cdn.jsdelivr.net/gh/Kevin-HYX/B2402Pages/fonts/JetBrainsMono-Bold.ttf") format("ttf");
}

/*中文统一字体*/
@font-face {
    font-family: "Chinese";
    src: url("https://cdn.jsdelivr.net/gh/Kevin-HYX/B2402Pages/fonts/GangBi.TTF") format("ttf");
    src: local("KaiTi");
}

@font-face {
    font-family: "HandwritingBlod";
    src: url("https://cdn.jsdelivr.net/gh/Kevin-HYX/B2402Pages/fonts/handwriting_italics.TTF") format("ttf");
}

@font-face {
    font-family: "HandwritingLight";
    src: url("https://cdn.jsdelivr.net/gh/Kevin-HYX/B2402Pages/fonts/handwriting_light.OTF") format("otf");
}

/*注释统一字体*/
@font-face {
    font-family: "LightF";
    src: url("https://cdn.jsdelivr.net/gh/Kevin-HYX/B2402Pages/fonts/DINNextW1G-Light.OTF");
}

/*清新调*/
@font-face {
    font-family: "Comic Sans";
    src: local("Comic Sans Ms");
    src: url("https://cdn.jsdelivr.net/gh/Kevin-HYX/B2402Pages/fonts/comic.ttf") format("ttf");
}

body {
    color: black !important;
    background-color: rgba(255, 255, 255, 0) !important;
    text-align: center;
}

.picture_container img {
    /*图片圆角*/
    border-radius: 5%;
    /*图片阴影*/
    box-shadow: 4px 4px 6px #888585;
    /*图片尺寸*/
    width: 100%;
    height: auto;
}

.text_huge {
    font-family: "Chinese", serif;
    font-size: 40px;
    font-weight: bold;
}

#random_lines {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

