.picture {
    /*图片圆角*/
    border-radius: 5%;
    /*图片阴影*/
    box-shadow: 4px 4px 6px gray;
    /*图片尺寸*/

    width: 100%;
    height: auto;
}
@font-face {
    font-face-name: JetBrainsBold;
    font-size: large;
    font-weight: auto;
    font-family: "JetBrainsBold";
    src: url("https://cdn.jsdelivr.net/gh/Kevin-HYX/B2402Pages/fonts/JetBrainsMono-Bold.woff2");
    /*src: local("Microsoft YaHei");*/
}
body{
    font-family: JetBrainsBold, serif;
}