.picture_container img {
    /*图片圆角*/
    border-radius: 5%;
    /*图片尺寸*/
    height: auto;
    width: 100%;
}

body {
    background-color: white !important;
    margin-left: 0.5cm;
    margin-right: 0.5cm;
}